---
import { Icon } from 'astro-icon';
const { github_url, live_url, desc, name, stack, skill_src } = Astro.props;
---

<div
  class="group relative flex flex-col items-start text-prime-text hover:bg-base-accent p-4 rounded-lg border-[1px]"
>
  <div class="absolute top-0 right-0 p-2">
    <Icon
      pack="mdi"
      name="arrow-top-right-thick"
      class="w-4 h-4 transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1 group-hover:text-prime"
    />
  </div>
  <a href={live_url} target="_blank" rel="noopener noreferrer">
    <h2
      class="pb-6 mt-2 text-base font-semibold text-zinc-800 dark:text-zinc-100"
    >
      <span class="relative z-1 text-prime-text group-hover:text-prime"
        >{name}</span
      >
    </h2>
    <p
      class="relative mt-2 text-sm z-1 text-secondary-text group-hover:text-prime-text"
    >
      {desc}
    </p>
    <div class="flex p-2 mt-4 space-x-6">
      <img src={skill_src}/>
    </div>
    <!-- <a
      href={github_url}
      class="relative flex w-full mt-6 text-sm font-medium transition z-1 hover:underline hover:underline-offset-2 hover:text-prime"
    >
      <Icon
        pack="mdi"
        name="link-variant"
        class="w-4 h-4 text-prime-text group-hover:text-prime"
      />

      <span class="ml-2 group-hover:text-prime">GitHub Repo</span>
    </a> -->
  </a>
</div>
