---
import { Icon } from 'astro-icon';
const { github_url, live_url, desc, name, stack } = Astro.props;
// console.log('test console', stack);
---

<div
  class="group relative flex flex-col items-start text-prime-text hover:bg-base-accent p-4 rounded-lg border-[1px]"
>
  <div class="absolute top-0 right-0 p-2">
    <Icon
      pack="mdi"
      name="arrow-top-right-thick"
      class="h-4 w-4 transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1 group-hover:text-prime"
    />
  </div>
  <a href={live_url}>
    <div>
      <!-- will resume this when astro issue is fixed -->
      <!-- {stack.map((items) => <Icon pack="logos" name={items} class="h-6 w-6" />)} -->
    </div>

    <h2
      class="mt-2 pb-6 text-base font-semibold text-zinc-800 dark:text-zinc-100"
    >
      <span class="relative z-1 text-prime-text group-hover:text-prime"
        >{name}</span
      >
    </h2>
    <p
      class="relative z-1 mt-2 text-sm text-secondary-text group-hover:text-prime-text"
    >
      {desc}
    </p>
    <a
      href={github_url}
      class="relative w-full z-1 mt-6 flex text-sm font-medium transition hover:underline hover:underline-offset-2 hover:text-prime"
    >
      <Icon
        pack="mdi"
        name="link-variant"
        class="text-prime-text h-4 w-4 group-hover:text-prime"
      />

      <span class="ml-2 group-hover:text-prime">GitHub Repo</span>
    </a>
  </a>
</div>
